.formularioProducto{    
	margin: 2% 2% 2% 2%;
	width: 20%;
  background-color: #eeeeee ;
  border: 1px solid;
  border-radius: 6px;
  padding: 15px;
  display: inline-block;
}
.divProductos{
	display: block;
}