* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  height: 100%;
  /* equal to footer height */
  
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: orange;
}

tr{
  background:#EEEEEE
}

.encabezadoTabla{
  background:#DDF
}



.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

















/*Pagina normal*/
.imagenExpandida{
   width:100%;
   height:100%; 
}
.aLaDerecha{
  float:right;
}

.tablaProductos{
  width:80%;
  margin:auto;
  border-color:#FFFFFF;
  border: 1px solid;
}

  .separados{
  margin: 10px;
  padding: 10px;
  text-align-last:center;
  } 

body {
  
  min-height: 100vh;
 
  color: black; 
  font: bold 1 sans-serif;
  text-align:center; 
  height:100%; 
  margin:0;
  padding:0;
}

@media screen and (min-width: 768px)  {   

header{background:white; height:150px;margin-top:0;text-align:center;}
p{font:bold 15px/20px sans-serif;margin:  0% 0% 0% 0%;padding: 0% 0% 0% 0%}
h1{ margin:10% ;font: bold 20px sans-serif; }
h2{font:bold 20px sans-serif}
#parrafoInicio { font: bold 15px/20px sans-serif;padding:30px 200px 60px 200px}


  .textoOperaciones{
  display: inline;
  color:black;
}

nav { background-color: black}
    
.control-menu{display:none;}



.contenido {background:white; height:100%; }


.titulo {float:left;margin: 5% 0% 0% 3%;background:red;}

.divLoginContenido {  margin: auto;}
li.boton{ display:none;}
li.boton:target{display:block;}

}

.text-center{ float:left;width: 100% }
.container{ float:left;width: 100%; height: 100% }

  footer { height: 50px; width: 100%;margin:0px 0px 0px 0px;

  float:left;
  border-top: 1px solid #000000;
  margin-top: 5%;
  background:#B5B5B5;
  line-height: 3;
  text-align: center;
 
  
 
  
  }
  .divMenu{ 
  background-color: #eeeeee ;
  border: 1px solid;
  border-radius: 6px;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 15px;
    
  }

  .divLogin{ 
  background-color: #eeeeee ;
  border: 1px solid;
  border-radius: 6px;
  width: 300px;
  margin: auto;

  padding: 15px;
    
  }
  .divHeader{
    width:100%;
    height:100%
  }

.imputForm{width: 90%}
.agregarpro{ padding:5% 0% 0% 0%; }
.formularioAgregar{
  margin: 5% 5% 5% 5% ;
  width: 70%;
  background-color: #eeeeee ;
  border: 1px solid;
  border-radius: 6px;
  padding: 15px;
  display: inline-block;
}
.divForm{margin: 0% 0% 0% 30%; float: left;}


#navegador { display: block
  
}
#navegador:target { 
  display: block
}


  




























/* A simple, css only, (some-what) responsive menu */


 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}




















}
